In [6]:
import pandas as pd
import numpy as np

weather = pd.read_csv('data_folder/pittsburgh2013.csv', index_col= 'Date', parse_dates=True)

# weather.head()

# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)


# apply   df.apply(lambda n: n//12) 
#  df.floordiv(12) # Convert to dozens unit

#same slice here
print(weather[['Mean TemperatureF', 'Mean Dew PointF']] is weather.loc[:,['Mean TemperatureF', 'Mean Dew PointF']]) # not same object
print(weather[['Mean TemperatureF', 'Mean Dew PointF']] == weather.loc[:,['Mean TemperatureF', 'Mean Dew PointF']])





# Reassign the column labels of df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

False
            Mean TemperatureF  Mean Dew PointF
Date
2013-01-01               True             True
2013-01-02               True             True
2013-01-03               True             True
2013-01-04               True             True
2013-01-05               True             True
...                       ...              ...
2013-12-27               True             True
2013-12-28               True             True
2013-12-29               True             True
2013-12-30               True             True
2013-12-31               True             True

[365 rows x 2 columns]
            Mean TemperatureC  Mean Dew PointC
Date
2013-01-01          -2.222222        -2.777778
2013-01-02          -6.111111       -11.111111
2013-01-03          -4.444444        -9.444444
2013-01-04          -2.222222        -7.222222
2013-01-05          -1.111111        -6.666667

In [38]:
import pandas as pd
import numpy as np

# election = pd.read_csv('data_folder/pennsylvania2012_turnout.csv') #, index_col= 'county')
# election.reset_index()
# election.set_index('county')

# election = pd.read_csv('data_folder/pennsylvania2012_turnout.csv')
# election.index = election['county']
# election.head()

# from above import table in one line
election = pd.read_csv('data_folder/pennsylvania2012_turnout.csv', index_col= 'county')
election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [34]:
import pandas as pd
import numpy as np

election = pd.read_csv('data_folder/pennsylvania2012_turnout.csv', index_col= 'county')

# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election.winner.map(red_vs_blue)     # add columns and map the keys and values

# Print the output of election.head()
print(election.head())



# Import zscore from scipy.stats
from scipy.stats import zscore 

# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color
county
Adams      27.629667   red
Allegheny  14.454399  blue
Armstrong  37.204293   red
Beaver      6.605012   red
Bedford    54.929118   red
<class 'numpy.ndarray'>
          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color  turnout_zscore
county
Adams      27.629667   red        0.853734
Allegheny  14.454399  blue        0.439846
Armstrong  37.204293   red        0.575650
Beaver      6.605012   red        1.018647
Bedford    54.929118   red        0.463391

## Advance indexing

In [81]:
import pandas as pd
import numpy as np

# sales_dict = {'eggs': {'Apr': 77, 'Feb': 110, 'Jan': 47, 'Jun': 205, 'Mar': 221},
#  'salt': {'Apr': 87.0, 'Feb': 50.0, 'Jan': 12.0, 'Jun': 60.0, 'Mar': 89.0},
#  'spam': {'Apr': 20, 'Feb': 31, 'Jan': 17, 'Jun': 55, 'Mar': 72}}


# sales = pd.DataFrame(sales_dict)
# sales.head()

s_dict = {'eggs': {'Jan': 47, 'Feb': 110, 'Mar': 221, 'Apr': 77, 'May': 132, 'Jun': 205}, 'salt': {'Jan': 12.0, 'Feb': 50.0, 'Mar': 89.0, 'Apr': 87.0, 'May': 0, 'Jun': 60.0}, 'spam': {'Jan': 17, 'Feb': 31, 'Mar': 72, 'Apr': 20, 'May': 52, 'Jun': 55}}

sales = pd.DataFrame(s_dict)

sales.loc['May', 'salt'] = 'NaN'
sales.index.name = 'month'
print(sales.head(6))
print('\n')

# sales.index.map(str.capitalize)

sales.index = sales.index.map(str.upper)
print('index upper')
print(sales.index)
sales.index = sales.index.str.lower()
print('index uppercase')
print(sales.index)

print('\n')
sales.columns.name ='PRODUCTS'
print(sales)


#Possible error is 
# sales.index[0] = 'JAN'                       """ cannot mutate the index"""
# sales.index[0] = sales.index[0].upper()      """ cannot mutate the index"""
sales.index = range(len(sales))            # can ! 
print('\n')
print(sales.head(6)) 

# buil df index from list and put them together
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
sales.index = months
print('\n')
print(sales)

       eggs salt  spam
month
Jan      47   12    17
Feb     110   50    31
Mar     221   89    72
Apr      77   87    20
May     132  NaN    52
Jun     205   60    55


index upper
Index(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN'], dtype='object', name='month')
index uppercase
Index(['jan', 'feb', 'mar', 'apr', 'may', 'jun'], dtype='object', name='month')


PRODUCTS  eggs salt  spam
month
jan         47   12    17
feb        110   50    31
mar        221   89    72
apr         77   87    20
may        132  NaN    52
jun        205   60    55


PRODUCTS  eggs salt  spam
0           47   12    17
1          110   50    31
2          221   89    72
3           77   87    20
4          132  NaN    52
5          205   60    55


PRODUCTS  eggs salt  spam
Jan         47   12    17
Feb        110   50    31
Mar        221   89    72
Apr         77   87    20
May        132  NaN    52
Jun        205   60    55

extracting with multi-index

In [85]:
import pandas as pd
import numpy as np

s_dict = {'eggs': {('CA', 1): 47,
  ('CA', 2): 110,
  ('NY', 1): 221,
  ('NY', 2): 77,
  ('TX', 2): 205},
 'salt': {('CA', 1): 12.0,
  ('CA', 2): 50.0,
  ('NY', 1): 89.0,
  ('NY', 2): 87.0,
  ('TX', 2): 60.0},
 'spam': {('CA', 1): 17,
  ('CA', 2): 31,
  ('NY', 1): 72,
  ('NY', 2): 20,
  ('TX', 2): 55}}

sales = pd.DataFrame(s_dict)

# sales.loc['May', 'salt'] = 'NaN'

sales


# Print sales.loc[['CA', 'TX']]
print(sales.loc[['CA','TX']])

# Print sales['CA':'TX']
print(sales['CA':'TX'])

      eggs  salt  spam
CA 1    47  12.0    17
   2   110  50.0    31
TX 2   205  60.0    55
      eggs  salt  spam
CA 1    47  12.0    17
   2   110  50.0    31
NY 1   221  89.0    72
   2    77  87.0    20
TX 2   205  60.0    55

set_index() list in tuple 
after set_index() data is not sorting
Then
use sort_index()


multiple level of a multiindex

In [91]:
s_dict = {'eggs': {0: 47, 1: 110, 2: 221, 3: 77, 5: 205},
 'month': {0: 1, 1: 2, 2: 1, 3: 2, 5: 2},
 'salt': {0: 12.0, 1: 50.0, 2: 89.0, 3: 87.0, 5: 60.0},
 'spam': {0: 17, 1: 31, 2: 72, 3: 20, 5: 55},
 'state': {0: 'CA', 1: 'CA', 2: 'NY', 3: 'NY', 5: 'TX'}}

sales = pd.DataFrame(s_dict)
print(sales) 

# Set the index to be the columns ['state', 'month']: sales
sales = sales.set_index(['state', 'month'])

# Sort the MultiIndex: sales
sales = sales.sort_index()

# Print the sales DataFrame
print(sales)
print('\n')

# Look up data for NY in month 1 in sales: NY_month1
NY_month1 = sales.loc[(['NY'], 1),:]
print(NY_month1)

print('\n')
# Look up data for CA and TX in month 2: CA_TX_month2
CA_TX_month2 = sales.loc[(['CA', 'TX'],  2),:]
print(CA_TX_month2)

print('\n')
# Access the inner month index and look up data for all states in month 2: all_month2
all_month2 = sales.loc[(slice(None),2),:]  #slice both index using slice(None) tuple only
print(all_month2)

   eggs  month  salt  spam state
0    47      1  12.0    17    CA
1   110      2  50.0    31    CA
2   221      1  89.0    72    NY
3    77      2  87.0    20    NY
5   205      2  60.0    55    TX
             eggs  salt  spam
state month
CA    1        47  12.0    17
      2       110  50.0    31
NY    1       221  89.0    72
      2        77  87.0    20
TX    2       205  60.0    55


             eggs  salt  spam
state month
NY    1       221  89.0    72


             eggs  salt  spam
state month
CA    2       110  50.0    31
TX    2       205  60.0    55


             eggs  salt  spam
state month
CA    2       110  50.0    31
NY    2        77  87.0    20
TX    2       205  60.0    55

Using .loc[] with nonunique indexes

In [89]:
s_dict = {'eggs': {0: 47, 1: 110, 2: 221, 3: 77, 5: 205},
 'month': {0: 1, 1: 2, 2: 1, 3: 2, 5: 2},
 'salt': {0: 12.0, 1: 50.0, 2: 89.0, 3: 87.0, 5: 60.0},
 'spam': {0: 17, 1: 31, 2: 72, 3: 20, 5: 55},
 'state': {0: 'CA', 1: 'CA', 2: 'NY', 3: 'NY', 5: 'TX'}}

sales = pd.DataFrame(s_dict)
print(sales)# Set the index to the column 'state': sales
sales = sales.set_index(['state'])

# Print the sales DataFrame
print(sales)

# Access the data from 'NY'
print(sales.loc['NY'])

   eggs  month  salt  spam state
0    47      1  12.0    17    CA
1   110      2  50.0    31    CA
2   221      1  89.0    72    NY
3    77      2  87.0    20    NY
5   205      2  60.0    55    TX
       eggs  month  salt  spam
state
CA       47      1  12.0    17
CA      110      2  50.0    31
NY      221      1  89.0    72
NY       77      2  87.0    20
TX      205      2  60.0    55
       eggs  month  salt  spam
state
NY      221      1  89.0    72
NY       77      2  87.0    20

pivot

In [3]:
import pandas as pd
import numpy as np

users = pd.read_csv('data_folder/users.csv')

users.pivot(index='weekday', columns= 'city', values= 'visitors')

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [10]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns= 'city', values= 'signups')

# Print signups_pivot
print('signups_pivot table :\n')
print(signups_pivot)
print('\n')
# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns= 'city')

# Print the pivoted DataFrame
print(pivot)

signups_pivot table :

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12


        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

stack & unstack,   unstack(level = 'xxx') = pivot

In [20]:
import pandas as pd
import numpy as np

users = pd.read_csv('data_folder/users.csv')
print(users)

users = users.set_index(['weekday', 'city'])
print(users)
print('\n')

# Unstack users by 'weekday': byweekday
byweekday = users.unstack(level= 'weekday')

# Print the byweekday DataFrame
print('byweekday \n')
print(byweekday)

# Stack byweekday by 'weekday' and print it
print(byweekday.stack(level = 'weekday'))

swapped = byweekday.stack(level = 'weekday').swaplevel(0,1)
print(swapped)

sorted_users = swapped.sort_index()
print(sorted_users)

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5
                Unnamed: 0  visitors  signups
weekday city
Sun     Austin           0       139        7
        Dallas           1       237       12
Mon     Austin           2       326        3
        Dallas           3       456        5


byweekday

        Unnamed: 0     visitors      signups
weekday        Mon Sun      Mon  Sun     Mon Sun
city
Austin           2   0      326  139       3   7
Dallas           3   1      456  237       5  12
                Unnamed: 0  visitors  signups
city   weekday
Austin Mon               2       326        3
       Sun               0       139        7
Dallas Mon               3       456        5
       Sun               1       237       12
                Unnamed: 0  visitors  signups
weekday city
Mon     Austin           2       326        3
Sun     Austin           0       139        7
Mon     Dallas           3       456        5
Sun     Dallas           1       237       12
                Unnamed: 0  visitors  signups
weekday city
Mon     Austin           2       326        3
        Dallas           3       456        5
Sun     Austin           0       139        7
        Dallas           1       237       12

In [47]:

import pandas as pd
import numpy as np

users = pd.read_csv('data_folder/users.csv')
# users = users.pivot(index= 'weekday', columns= 'city')
users = users.drop(columns=['Unnamed: 0'])

bycity_for =users.copy()
print(users_copy)

users = users.set_index(['city', 'weekday']).sort_index()
print(users)

bycity = bycity_for.set_index(['weekday', 'city'])
bycity = bycity.unstack(level='city')
print(bycity)





# Stack 'city' back into the index of bycity: newusers
newusers = bycity.stack(level = 'city')

# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0,1)

# Print newusers and verify that the index is not sorted
print(newusers)

# Sort the index of newusers: newusers
newusers = newusers.sort_index()

# Print newusers and verify that the index is now sorted
print(newusers)

# Verify that the new DataFrame is equal to the original
print(newusers.equals(users))

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12
        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12
                visitors  signups
city   weekday
Austin Mon           326        3
Dallas Mon           456        5
Austin Sun           139        7
Dallas Sun           237       12
                visitors  signups
city   weekday
Austin Mon           326        3
       Sun           139        7
Dallas Mon           456        5
       Sun           237       12
True

melting :     pd.melt(Dataframe, id_vars=[' '], var_name = ' ' , value_name = ' ')

In [66]:
import pandas as pd
import numpy as np

users = pd.read_csv('data_folder/users.csv')
users = users.drop(users.columns[0], axis=1)    #drop columns by index
print(users)
print('\n')

visitors_by_city_weekday = users.pivot(index='weekday', columns= 'city', values='visitors')
print(visitors_by_city_weekday)
print('\n')
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = visitors_by_city_weekday.reset_index() 

# Print visitors_by_city_weekday
print(visitors_by_city_weekday)

# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday, id_vars=['weekday'], value_name= 'visitors')

# Print visitors
print(visitors)
print('\n')


# Melt users: skinny
skinny = pd.melt(users, id_vars = ['weekday', 'city'])

# Print skinny
print(skinny)
print('\n')



#Obtaining key-value pairs with melt()
print('Obtaining key-value pairs with melt()')
print('\n')

# Set the new index: users_idx
users_idx = users.set_index(['city','weekday'])

# Print the users_idx DataFrame
print('Users_idx :')
print(users_idx)

# Obtain the key-value pairs: kv_pairs
kv_pairs = users_idx.melt()

# Print the key-value pairs
print(kv_pairs)

  weekday    city  visitors  signups
0     Sun  Austin       139        7
1     Sun  Dallas       237       12
2     Mon  Austin       326        3
3     Mon  Dallas       456        5


city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237


city weekday  Austin  Dallas
0        Mon     326     456
1        Sun     139     237
  weekday    city  visitors
0     Mon  Austin       326
1     Sun  Austin       139
2     Mon  Dallas       456
3     Sun  Dallas       237


  weekday    city  variable  value
0     Sun  Austin  visitors    139
1     Sun  Dallas  visitors    237
2     Mon  Austin  visitors    326
3     Mon  Dallas  visitors    456
4     Sun  Austin   signups      7
5     Sun  Dallas   signups     12
6     Mon  Austin   signups      3
7     Mon  Dallas   signups      5


Obtaining key-value pairs with melt()


Users_idx :
                visitors  signups
city   weekday
Austin Sun           139        7
Dallas Sun           237       12
Austin Mon           326        3
Dallas Mon           456        5
   variable  value
0  visitors    139
1  visitors    237
2  visitors    326
3  visitors    456
4   signups      7
5   signups     12
6   signups      3
7   signups      5

Pivot table

In [68]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday', columns='city')

# Print by_city_day
print(by_city_day)
print('\n')

# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index='weekday', aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = users.pivot_table(index='weekday', aggfunc=len)

# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237


         city  signups  visitors
weekday
Mon         2        2         2
Sun         2        2         2
==========================================
True

both the len and 'count' aggregation functions produced the same result.

be careful 'count'  and len  , len don't need ''

In [69]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index= 'weekday', values= ['signups','visitors'], aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index= 'weekday', values= ['signups','visitors'], aggfunc=sum, margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         signups  visitors
weekday
Mon            8       782
Sun           19       376
         signups  visitors
weekday
Mon            8       782
Sun           19       376
All           27      1158

.groupby(['column1,col2']).mean(),   .groupby('column')['column'].mean(),   .groupby('column')['column'].agg(['mean', 'sum'])

.groupby('column')['column'].agg(funtion),  .groupby('column')['column'].agg({'bread':'sum', 'butter':data_range}) # dictionary

In [5]:
import pandas as pd
import numpy as np

titanic = pd.read_csv('data_folder/titanic.csv')

titanic


# Group titanic by 'pclass'
by_class = titanic.groupby('pclass')

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['survived'].count()

# Print count_by_class
print(count_by_class)

# Group titanic by 'embarked' and 'pclass'
by_mult = titanic.groupby(['embarked', 'pclass'])

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['survived'].count()

# Print count_mult
print(count_mult)
print('\n')



# Group titanic by 'pclass': by_class
by_class = titanic.groupby('pclass')

# Select 'age' and 'fare'
by_class_sub = by_class[['age','fare']]

# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max','median'])
print(aggregated)
print('\n')

# Print the maximum age in each class
print(aggregated.loc[:, ('age','max')])

# Print the median fare in each class
print(aggregated.loc[:, ('fare','median')])

pclass
1    323
2    277
3    709
Name: survived, dtype: int64
embarked  pclass
C         1         141
          2          28
          3         101
Q         1           3
          2           7
          3         113
S         1         177
          2         242
          3         495
Name: survived, dtype: int64


         age             fare
         max median       max   median
pclass
1       80.0   39.0  512.3292  60.0000
2       70.0   29.0   73.5000  15.0458
3       74.0   24.0   69.5500   8.0500


pclass
1    80.0
2    70.0
3    74.0
Name: (age, max), dtype: float64
pclass
1    60.0000
2    15.0458
3     8.0500
Name: (fare, median), dtype: float64

In [8]:

import pandas as pd

# Read the CSV file into a DataFrame and sort the index: gapminder
gapminder = pd.read_csv('data_folder/gapminder_tidy.csv', index_col=['Year','region','Country']).sort_index()
print(gapminder)
print('\n')

# Group gapminder by 'Year' and 'region': by_year_region
by_year_region = gapminder.groupby(level=['Year', 'region'])

# Define the function to compute spread: spread
def spread(series):
    return series.max() - series.min()

# Create the dictionary: aggregator
aggregator = {'population':'sum', 'child_mortality':'mean', 'gdp':spread}

# Aggregate by_year_region using the dictionary: aggregated
aggregated = by_year_region.agg(aggregator)

# Print the last 6 entries of aggregated 
print(aggregated.tail(6))

                                             fertility    life  population  \
Year region             Country
1964 America            Antigua and Barbuda      4.250  63.775     58653.0
                        Argentina                3.068  65.388  21966478.0
                        Aruba                    4.059  67.113     57031.0
                        Bahamas                  4.220  64.189    133709.0
                        Barbados                 4.094  62.819    234455.0
...                                                ...     ...         ...
2013 Sub-Saharan Africa Tanzania                 5.214  61.530  49153002.0
                        Togo                     4.639  56.537   6412560.0
                        Uganda                   5.867  59.209  36759274.0
                        Zambia                   5.687  58.105  14314515.0
                        Zimbabwe                 3.486  59.871  13327925.0

                                             child_mortality      gdp
Year region             Country
1964 America            Antigua and Barbuda            72.78   5008.0
                        Argentina                      57.43   8227.0
                        Aruba                            NaN   5505.0
                        Bahamas                        48.56  18160.0
                        Barbados                       64.70   5681.0
...                                                      ...      ...
2013 Sub-Saharan Africa Tanzania                       52.60   2382.0
                        Togo                           83.30   1346.0
                        Uganda                         65.10   1621.0
                        Zambia                         72.80   3800.0
                        Zimbabwe                       83.30   1773.0

[10111 rows x 5 columns]


                                   population  child_mortality       gdp
Year region
2013 America                     9.629087e+08        17.745833   49634.0
     East Asia & Pacific         2.244209e+09        22.285714  134744.0
     Europe & Central Asia       8.968788e+08         9.831875   86418.0
     Middle East & North Africa  4.030504e+08        20.221500  128676.0
     South Asia                  1.701241e+09        46.287500   11469.0
     Sub-Saharan Africa          9.205996e+08        76.944490   32035.0

## use .strftime('%a') to transform the index datetime values to abbreviated days of the week

In [12]:
import pandas as pd
import numpy as np

weather = pd.read_csv('data_folder/pittsburgh2013.csv', index_col= 'Date', parse_dates=True)

print(weather.head(2))
print('\n')

# Create a groupby object: by_day
by_day = weather.groupby(weather.index.strftime('%a'))

# Create sum: units_sum
avg_maxTempF = by_day['Max TemperatureF'].mean()

# Print units_sum
print(avg_maxTempF)

            Max TemperatureF  Mean TemperatureF  Min TemperatureF  \
Date
2013-01-01                32                 28                21
2013-01-02                25                 21                17

            Max Dew PointF  Mean Dew PointF  Min DewpointF  Max Humidity  \
Date
2013-01-01              30               27             16           100
2013-01-02              14               12             10            77

            Mean Humidity  Min Humidity  Max Sea Level PressureIn  ...  \
Date                                                               ...
2013-01-01             89            77                     30.10  ...
2013-01-02             67            55                     30.27  ...

            Max VisibilityMiles  Mean VisibilityMiles  Min VisibilityMiles  \
Date
2013-01-01                   10                     6                    2
2013-01-02                   10                    10                   10

            Max Wind SpeedMPH  Mean Wind SpeedMPH  Max Gust SpeedMPH  \
Date
2013-01-01                 10                   8                NaN
2013-01-02                 14                   5                NaN

            PrecipitationIn   CloudCover  Events  WindDirDegrees
Date
2013-01-01              0.0            8    Snow             277
2013-01-02              0.0            4     NaN             272

[2 rows x 22 columns]


Date
Fri    59.115385
Mon    60.269231
Sat    60.019231
Sun    59.923077
Thu    60.134615
Tue    59.698113
Wed    60.192308
Name: Max TemperatureF, dtype: float64

Filtering and grouping with .map()

In [16]:
import pandas as pd
import numpy as np

titanic = pd.read_csv('data_folder/titanic.csv')
titanic.head()

# Create the Boolean Series: under10
under10 = (titanic['age']<10).map({True:'under 10', False:'over 10'})

# Group by under10 and compute the survival rate
survived_mean_1 = titanic.groupby(under10)['survived'].mean()
print(survived_mean_1)
print('\n')

# Group by under10 and pclass and compute the survival rate
survived_mean_2 = titanic.groupby([under10, 'pclass'])['survived'].mean()
print(survived_mean_2)

age
over 10     0.366748
under 10    0.609756
Name: survived, dtype: float64


age       pclass
over 10   1         0.617555
          2         0.380392
          3         0.238897
under 10  1         0.750000
          2         1.000000
          3         0.446429
Name: survived, dtype: float64